# Libs

In [1]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Data

In [2]:
db = sqlite3.connect('GRBweb2.sqlite')

In [47]:
# Print the names of all the tables
#we use pandas to show names of table in convinient way
table_names = pd.read_sql_query("SELECT name from sqlite_master where type= 'table'", db)
#here "sqlite_master where type= 'table'" is acceptable for all databases, it's universal 
print("Table names:\n", table_names) #\n - switching to the next row

Table names:
                        name
0                     BATSE
1           sqlite_sequence
2                  BeppoSAX
3                 Fermi_GBM
4   Fermi_GBM_precursor_Zhu
5    Fermi_GBM_subthreshold
6                 Fermi_LAT
7             GCN_circulars
8                       IPN
9                   Summary
10                    Swift

In [4]:
#To execute SQLite statements in Python, you need a cursor object. You can create it using the cursor() method.
cur = db.cursor()

names = np.array(table_names['name'])
names

for i in range(0,len(names)-1):
      = pd.read_sql_query(f"SELECT * from {names[i]}", db)

## Separeted tables

In [48]:
BATSE = pd.read_sql_query("SELECT * from BATSE", db)

In [90]:
BATSE.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2702 entries, 0 to 2701
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              2702 non-null   int64
 1   GRB_name        2702 non-null   object
 2   GRB_name_BATSE  2702 non-null   object
 3   trigger_number  2702 non-null   int64
 4   datum           2702 non-null   object
 5   t_trigger       2702 non-null   float64
 6   ra              2702 non-null   float64
 7   decl            2702 non-null   float64
 8   pos_error       2702 non-null   float64
 9   T50             2037 non-null   float64
 10  T50_error       2037 non-null   float64
 11  T90             2037 non-null   float64
 12  T90_error       2037 non-null   float64
 13  T90_start       2037 non-null   float64
 14  fluence         2133 non-null   float64
 15  fluence_error   2133 non-null   float64
dtypes: float64(11), int64(2), object(3)
memory usage: 337.9+ KB

In [103]:
BATSE['GRB_name'].nunique() == len(BATSE)

True

## Conditions

In [110]:
BATSE.head()

,id,GRB_name,GRB_name_BATSE,trigger_number,datum,t_trigger,ra,decl,pos_error,T50,T50_error,T90,T90_error,T90_start,fluence,fluence_error
0,1,GRB910421A,4B910421,105,1991-04-21,33243.8,270.675,24.766667,0.53,1.792,0.202,5.184,0.181,0.512,2.605500e-06,1.885684e-08
1,2,GRB910423A,4B910423,107,1991-04-23,71684.7,193.475,-8.383333,11.10,68.608,3.238,208.576,1.118,-208.896,1.650960e-07,1.701463e-08
2,3,GRB910424A,4B910424,108,1991-04-24,71006.6,201.300,-45.416667,13.78,1.280,1.574,3.136,0.590,-1.536,2.485830e-08,1.049605e-08
3,4,GRB910425A,4B910425-,109,1991-04-25,2265.7,91.300,-22.766667,1.02,47.104,0.143,90.176,0.286,4.224,1.327650e-05,6.867408e-08
4,5,GRB910425B,4B910425-,110,1991-04-25,20253.3,335.950,25.766667,4.79,306.368,3.304,430.016,1.094,-259.584,1.351020e-06,6.342943e-08

In [125]:
BATSE[BATSE['GRB_name']=='GRB910421A'].ndim

2

In [56]:
BATSE[BATSE['ra'] > 359]

,id,GRB_name,GRB_name_BATSE,trigger_number,datum,t_trigger,ra,decl,pos_error,T50,T50_error,T90,T90_error,T90_start,fluence,fluence_error
545,546,GRB930126A,4B930126,2147,1993-01-26,40961.7,359.250,50.266667,3.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN
840,841,GRB931210A,4B931210,2689,1993-12-10,59517.6,359.175,44.750000,2.53,NaN,NaN,NaN,NaN,NaN,NaN,NaN
964,965,GRB940419B,4B940419-,2940,1994-04-19,69058.2,359.850,-47.950000,0.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1763,1764,GRB970326A,GRB970326-,6136,1997-03-26,29773.8,359.275,-67.633333,3.36,1.216,0.091,1.920,0.643,-0.064,2.457270e-07,2.434917e-08
2171,2172,GRB980703A,GRB980703-,6891,1998-07-03,15765.2,359.075,12.016667,0.48,306.304,1.032,411.648,9.273,-6.144,1.283250e-05,2.045898e-07

## Indexes

In [70]:
BATSE_ind_n = BATSE.set_index('GRB_name')

In [115]:
BATSE_ind_n.head()

,id,GRB_name_BATSE,trigger_number,datum,t_trigger,ra,decl,pos_error,T50,T50_error,T90,T90_error,T90_start,fluence,fluence_error
GRB_name,,,,,,,,,,,,,,,
GRB910421A,1,4B910421,105,1991-04-21,33243.8,270.675,24.766667,0.53,1.792,0.202,5.184,0.181,0.512,2.605500e-06,1.885684e-08
GRB910423A,2,4B910423,107,1991-04-23,71684.7,193.475,-8.383333,11.10,68.608,3.238,208.576,1.118,-208.896,1.650960e-07,1.701463e-08
GRB910424A,3,4B910424,108,1991-04-24,71006.6,201.300,-45.416667,13.78,1.280,1.574,3.136,0.590,-1.536,2.485830e-08,1.049605e-08
GRB910425A,4,4B910425-,109,1991-04-25,2265.7,91.300,-22.766667,1.02,47.104,0.143,90.176,0.286,4.224,1.327650e-05,6.867408e-08
GRB910425B,5,4B910425-,110,1991-04-25,20253.3,335.950,25.766667,4.79,306.368,3.304,430.016,1.094,-259.584,1.351020e-06,6.342943e-08

In [114]:
BATSE_ind_n.index.names

FrozenList(['GRB_name'])

In [117]:
index = input('Enter GRB name')
BATSE_ind_n.loc[index]

Enter GRB name GRB910425A

id                         4
GRB_name_BATSE     4B910425-
trigger_number           109
datum             1991-04-25
t_trigger             2265.7
ra                      91.3
decl              -22.766667
pos_error               1.02
T50                   47.104
T50_error              0.143
T90                   90.176
T90_error              0.286
T90_start              4.224
fluence             0.000013
fluence_error            0.0
Name: GRB910425A, dtype: object

In [126]:
BATSE_ind_n.loc['GRB910421A'].ndim

1

## Indexes + columns

In [81]:
BATSE_ind_n.loc['GRB930126A', ['GRB_name_BATSE','trigger_number']]

GRB_name_BATSE    4B930126
trigger_number        2147
Name: GRB930126A, dtype: object

In [ ]:
index = input('Enter GRB name')
BATSE_ind_ni.loc[index]